@model ExampleMvcXtl.Models.Product

<div class="card bg-success text-white">
    <h1 class="card-header">Sản phẩm: @Model.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Giá: @Model.Price
        </p>
    </div>
</div>
<hr>